POSTGRES_DB=stockflow
POSTGRES_USER=stockflow_admin
POSTGRES_PASSWORD=GENERATE_A_LONG_URL_SAFE_ADMIN_SECRET
APP_DB_PASSWORD=GENERATE_A_LONG_URL_SAFE_APPLICATION_SECRET
SESSION_SECRET=GENERATE_AT_LEAST_32_RANDOM_CHARACTERS
STOCKFLOW_HOST=stockflow.local
BACKUP_RETENTION_DAYS=14
VINEXT_TRUST_PROXY=1
VINEXT_TRUSTED_HOSTS=localhost
